@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
}
a{
    text-decoration: none;
    color: rgb(4,53,109);
}

ul{
    list-style: none;
}

header{
    height: 100vh;
    background-color: rgb(196,219,248);
}
.navbar{
    background-color: #fff;
    border-bottom: 3px solid #cccccc;
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 1.5rem 2rem;
}

#home #logo{
    font-weight: 600;
    font-size: 24px;
}

.navbar nav{
    display: flex;
  margin:auto;
  justify-content:space-between;
  align-items:center;
  max-width: 1100px;

}
.navbar nav ul{
  display: flex;
  justify-content:space-center;
  align-items:flex-start;

}
.navbar nav ul a{
margin:0 15px;
font-weight: 600;

}
.header-content{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  max-width: 1100px;
  margin: auto;
  height: 100%;
  align-items: center;

  padding: 5rem 2rem;
}
.header-content img{
max-width: 450px;

}
.header-text p{
  font-size: 24px;
  font-weight: 500;
}
.header-text h1{
  font-size: 60px;
  font-weight: 700;
}

/*about start*/

#about{
  padding:10rem ;
  background-color: #88aabe;
}
#about h2{
  text-align: center;
  margin-bottom:30px;
}
#about p {
   text-align: center;
   margin-bottom: 20px;
   font-weight:700;
   line-height: 2.5;
}

/*certificates start*/

#certificates {
  padding: 40px 50px;
  background-color:#3c5e74;
}

#certificates h2{
   text-align: center;
  margin-bottom: 40px;
}
#certificates p{
  text-align: center;
  margin-bottom: 20px;
   font-weight: 600;
}
#certificates .certificates-list{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px; /* مسافة بين الصور */
  margin-bottom: 40px; /* مسافة من القسم التالي */
}

#certificates .certificates-list figure {
  text-align: center;
  flex:  250px; /* تحديد عرض ثابت لكل شهادة */
  margin:auto;
}
#certificates .certificates-list img{
   width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

/*contact me start*/

#contact {
  background: #88aabe;
  padding: 5rem ;
}
#contact h2 {
  text-align: center;
  margin-bottom: 40px;
}

#contact .contact-desc{
   text-align: center;
  margin-bottom: 20px;
   font-weight: 600;
}
#contact .container p{
  text-align: center;
  margin-bottom: 20px;
}
#contact .container p {
  color: #000000;
  font-weight: 600;
}

/*footer start*/

#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 18 px;
}